* {
  box-sizing: border-box;
}
/* colour palette*/
:root{
  --primary:rgb(55, 166, 240);
  --secondary:rgb(1, 38, 41);
  --tertiary:rgb(187, 125, 66);
  --quaternary:rgba(253, 83, 4, 0.932);
}
.nav {
  display: flex;
 
  padding: 20px;
}

 .center {
  align-items: flex-start;
  height: 50px;
  display: flex;
  justify-content: right;

}
#hero {
  align-items: flex-start;
  background-color: solid var(--primary);
  background-image: url(../images/02-hero-bg.jpg);
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

#flex-container-one {
  display: flex;
  float: left;
  flex-direction: row;
  height: 300px;
  width: 300px;
  flex: 1;

}
 #flex-container-two {
  display: flex;
  float: left;
  flex-direction: row;
  height: 300px;
  width: 300px;
  
} 
#flex-container-three {
  display:flex;
  float: left;
  flex-direction: row;
  height: 300px;
  width: 300px;
  flex: auto;
}

#flex-container-four {
  display: flex;
  flex-direction: row;
  flex: 1;
 
}
.flex-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*layout changes the width the display*/
  @media screen and (max-width: 768px) {
  #flex-container-one,
  #flex-container-three, 
  #flex-container-two, 
  #flex-container-four,    
  .flex-container-wrapper{
      flex: 100;
      flex-direction: column;
      width: auto;
  }
} 

h1 {
  position: sticky;
  top: 0;
  left: 0;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 40px;
  background: linear-gradient(to right, red, orange, blue);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}
h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffa500;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}
h3{
   font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffa500;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}
h4{
   font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffa500;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
   height: 50px;
  display: flex;
  justify-content:flex-end ;
}
h5,
h6 
{
  margin: 0;
}

p {
  margin: 10px;
}
