* {
  box-sizing: border-box;
}
/* colour palette*/
:root{
  --primary:rgb(55, 166, 240);
  --secondary:rgb(1, 38, 41);
  --tertiary:rgb(187, 125, 66);
  --quaternary:rgba(253, 83, 4, 0.932);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.flex-container-one {
  display: flex;

  background-color: var(--secondary);
  flex-direction: row;
}
.flex-container-two {
  display: flex;

  background-color: var(--secondary);
  flex-direction: row;
}
.flex-container-three {
  display: flex;

  background-color: var(--secondary);
  flex-direction: row;
}

@media screen (max-width: 800px {
.flex-container-one, .flex-container-three, .flex-container-two {
  flex: 100;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
